<nav class="navbar fixed-top shadow-lg bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="{{site.baseurl}}/">
      <img src="https://avatars.githubusercontent.com/u/281582654?v=4" alt="Logo" width="30" height="24" class="d-inline-block rounded align-text-top">
      {{page.title}}
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#staticBackdrop" aria-controls="staticBackdrop">
      <span class="navbar-toggler-icon"></span>
    </button>
  </div>
</nav>