<div class="offcanvas offcanvas-start" data-bs-backdrop="static" tabindex="-1" id="staticBackdrop" aria-labelledby="staticBackdropLabel">
  <div class="offcanvas-header">
    <h5 class="offcanvas-title" {{ site.title }}
    <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
  </div>
<div class="offcanvas-body">
  <ul class="nav flex-column custom-nav">
    <li class="nav-item">
      <a class="nav-link py-3" href="{{ '/admin' | relative_url }}">
        <i class="bi bi-speedometer2 me-2"></i> Admin Panel
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link py-3" href="{{ '/product' | relative_url }}">
        <i class="bi bi-box-seam me-2"></i> Products
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link py-3" href="{{ '/blog' | relative_url }}">
        <i class="bi bi-journal-text me-2"></i> Our Blog
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link py-3" href="{{ '/chat-ai' | relative_url }}">
        <i class="bi bi-robot me-2"></i> Chat AI
      </a>
    </li>
  </ul>
</div>
</div>

<script>
document.querySelectorAll('.custom-nav .nav-link').forEach(link => {
  link.addEventListener('click', function(e) {
    const offcanvasElement = document.getElementById('staticBackdrop');
    const bsOffcanvas = bootstrap.Offcanvas.getInstance(offcanvasElement);
    
    if (bsOffcanvas) {
      bsOffcanvas.hide();
    }
    
  });
});
</script>