figure {
  margin: 1em 40px;
}

hr {
  box-sizing: content-box;
  height: 0;
  overflow: visible;
}

details,
menu {
  display: block;
}

summary {
  display: list-item;
}

[hidden] {
  display: none;
}

